.icon-format {
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-quote {
  background-image: url('./icons/double-quotes-l.svg');
}

.icon-h1 {
  background-image: url('./icons/h-1.svg');
}

.icon-h2 {
  background-image: url('./icons/h-2.svg');
}

.icon-h3 {
  background-image: url('./icons/h-3.svg');
}

.icon-bold {
  background-image: url('./icons/bold.svg');
}

.icon-italic {
  background-image: url('./icons/italic.svg');
}

.icon-underLine {
  background-image: url('./icons/underline.svg');
}

.icon-inlineCode {
  background-image: url('./icons/code-view.svg');
}

.icon-codeBlock {
  background-image: url('./icons/code-block.svg');
}

.icon-link {
  background-image: url('./icons/link.svg');
}

.icon-delete {
  background-image: url('./icons/delete-line.svg');
}

.icon-image {
  background-image: url('./icons/image.svg');
}

.icon-orderedList {
  background-image: url('./icons/list-ordered.svg');
}

.icon-unorderedList {
  background-image: url('./icons/list-unordered.svg');
}

.icon-newLine {
  background-image: url('./icons/multi-line-text.svg');
}

.icon-minimize {
  background-image: url('./icons/minimize.svg');
}

.icon-maximize {
  background-image: url('./icons/maximize.svg');
}

.icon-table {
  background-image: url('./icons/table.svg');
}

.icon-edit {
  background-image: url('./icons/edit.svg');
}

.icon-preview {
  background-image: url('./icons/preview.svg');
}

.icon-sync {
  background-image: url('./icons/sync.svg');
}
